<template>
    <div>
        <div class='breadcome-list text-light row' v-show='show_receipt_table' >
          <div class='d-flex justify-content-end' >
            <div class='col-3 text-end' style='margin-bottom: -33px; z-index: 100;' >
              <button id='btn_receipt_add' type="button" class="btn btn-primary me-1 ps-3 pe-3" @click='actionShowReceiptForm' ><i class="bi bi-plus"></i></button>
              <button id='btn_receipt_modify' type="button" class="btn btn-success me-3 ps-3 pe-3" @click='actionModifyReceipt' ><i class="bi bi-pencil-square"></i></button>
            </div>
          </div>
          <custom_table class='col-12' ref="table"
            :columns="receipt_columns"
            :data="receipt_rows"
            :table_name='receipt_table_name'
            :column_order='receipt_column_order'
            :check_remove_bfilter='receipt_check_remove_bfilter' />
        </div>
        <div class='breadcome-list text-light row' v-show='show_detail_form' >
          <div class='d-flex flex-row' >
            <div class="col-3 me-4">
              <label for="receipt_account" class="form-label">{{ et_receipt_account }}</label>
              <input type="text" class="form-control" id="receipt_account" :value="receipt_account" >
            </div>
            <div class="col-3 me-4">
              <label for="receipt_comment" class="form-label">{{ et_receipt_comment }}</label>
              <input type="text" class="form-control" id="receipt_comment" :value="receipt_comment" >
            </div>
            <div class="col-2 me-4">
              <label for="receipt_debit" class="form-label">{{ et_receipt_debit }}</label>
              <input type="text" class="form-control" id="receipt_debit" :value="receipt_debit" >
            </div>
            <div class="col-2 me-4">
              <label for="receipt_credit" class="form-label">{{ et_receipt_credit }}</label>
              <input type="text" class="form-control" id="receipt_credit" :value="receipt_credit" >
            </div>
            <div class="col-1 me-4">
              <button id='btn_addReceipt' type="button" class="btn btn-primary ps-3 pe-3 pt-2 pb-2 mt-4" ><i class="bi bi-plus"></i></button>
              <button id='btn_addReceipt' type="button" class="btn btn-danger ps-3 pe-3 pt-2 pb-2 mt-4" @click='actionShowReceiptTable' ><i class="bi bi-x-lg"></i></button>
            </div>
          </div>
        </div>
        <div class='breadcome-list text-light row' v-show='show_receipt_form' >
          <div class="row">
            <div class='d-flex justify-content-end' >
              <div class='col-3 text-end mb-3' >
                <button type='button' id='btn_receipt_form_back' class="me-1 ps-3 pe-3 pointer btn btn-info" @click='actionShowReceiptTable' ><i class="bi bi-arrow-90deg-left"></i></button>
                <button type='button' id='btn_receipt_form_save' class="me-1 ps-3 pe-3 pointer btn btn-success" @click='actionSaveDetail' ><i class="bi bi-save2"></i></button>
                <button type='button' id='btn_receipt_form_delete' class="me-1 ps-3 pe-3 pointer btn btn-danger" ><i class="bi bi-trash"></i></button>
              </div>
            </div>
            <div class="col-12 d-flex flex-wrap" >
              <div :class="['col-2', bool_receipt_modify ? '':'d-none', 'me-2']">
                <label for="detail_serie" class="form-label">{{ et_detail_serie }}</label>
                <input type="text" class="form-control" id="detail_serie" v-model='detail_serie' >
              </div>
              <div class="col-2 mb-2 me-2">
                <label for="detail_date" class="form-label">{{ et_detail_date }}</label>
                <input name='dates' placeholder="dd/mm/yyyy" type="text" class="form-control" id="detail_date" >
              </div>
              <div :class="['col-2', bool_receipt_modify ? '':'d-none', 'me-2']">
                <label for="detail_status" class="form-label">{{ et_detail_status }}</label>
                <input type="text" class="form-control" id="detail_status" v-model='detail_status' >
              </div>
              <div class="me-2">
                <label for="detail_receipt_type" class="form-label">{{ et_detail_receipt_type }}</label>
                <select class="form-select" id="detail_receipt_type" v-model="detail_receipt_type" >
                    <option value='-1'> {{ opt_detail_receipt_type_default }}</option>
                    <option v-for="(v, i) in data_receipt_type" v-bind:key='i' :value='i' selected >{{ v }}</option>
                </select>
              </div>
              <div class="col-2 me-2">
                <label for="detail_exchange" class="form-label">{{ et_detail_exchange }}</label>
                <input type="text" class="form-control" id="detail_exchange" v-model='detail_exchange' >
              </div>
              <div class="me-2">
                <label for="detail_money" class="form-label">{{ et_detail_money }}</label>
                <select class="form-select" id="detail_money" v-model="detail_money" >
                    <option value='0' selected>{{ opt_detail_money_default }}</option>
                    <option v-for="(v) in data_money" v-bind:key='v.ID' :value='v.ID' >{{ v.Nombre }}</option>
                </select>
              </div>
              <div :class="[bool_receipt_modify?'col-5':'']">
                <label for="detail_comment" class="form-label">{{ et_detail_comment }}</label>
                <input type="text" class="form-control" id="detail_comment" v-model='detail_comment' >
              </div>
            </div>
          </div>
          <div class='overflow-auto col-12' style='max-height: 35vh;' >
            <custom_table class='col-12 mt-3 p-0' ref="table2"
            :columns="detail_columns"
            :data="detail_rows"
            :table_name='detail_table_name'
            :column_order='detail_column_order'
            :check_remove_bfilter='detail_check_remove_bfilter'
            :check_remove_bpaginate='true'
            :check_remove_binfo='true' />
            <p class='col-5 d-flex ms-auto mt-2 justify-content-between' id='totals'><span class='me-3' id='totalTitle'>{{ et_detail_total }}</span><span class='me-3' id='debitTotal'><span id='debitTotal_title' >{{ et_receipt_debit }}: </span><span id='debitTotal_amount'>0</span></span><span class='' id='creditTotal'><span id='creditTotal_title' >{{ et_receipt_credit }}: </span><span id='creditTotal_amount'>0</span></span></p>
          </div>
        </div>
    </div>
</template>

<script>

    export default {
        data: function() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                url_report: '',
                bool_save: false,
                bool_receipt_modify: false,
                show_receipt_table: true,
                show_receipt_form: false,
                show_detail_form: false,
                detail_serie: '',
                detail_status: '',
                detail_receipt_type: -1,
                detail_exchange: '',
                detail_money: 0,
                detail_comment: '',
                receipt_account: '',
                receipt_comment: '',
                receipt_debit: '',
                receipt_credit: '',
                detail_rows: [],
            };
        },
        props: {
            errors: Array,
            data_receipt_type: Array,
            data_money: Array,
            et_detail_serie: String,
            et_detail_date: String,
            et_detail_status: String,
            et_detail_receipt_type: String,
            et_detail_exchange: String,
            et_detail_money: String,
            et_detail_comment: String,
            et_receipt_account: String,
            et_receipt_comment: String,
            et_receipt_debit: String,
            et_receipt_credit: String,
            et_detail_total: String,
            opt_detail_receipt_type_default: String,
            opt_detail_money_default: String,
            receipt_rows: Array,
            receipt_columns: Array,
            receipt_table_name: String,
            receipt_column_order: Number,
            detail_columns: Array,
            detail_table_name: String,
            detail_column_order: Number,
            btn_close: String,
            btn_mssg_save_close: String,
            btn_mssg_save_confirm: String,
            receipt_check_remove_bfilter: Boolean,
            detail_check_remove_bfilter: Boolean,
            mssg_noselect_row: String,
            mssg_error_function_not_available: String,
            mssg_question_save_data: String,
            mssg_save_data_invalid: String,
            mssg_save_data_empty: String,
            mssg_save_data_exist: String,
            mssg_save: String,
        },
        methods: {
          cssDetailTable: function(){
            var detail_table_name = this.detail_table_name;
            $('#'+detail_table_name+'_wrapper thead .tb_column_1').css('width', '30%');
            $('#'+detail_table_name+'_wrapper thead .tb_column_2').css('width', '40%');
            $('#'+detail_table_name+'_wrapper thead .tb_column_3').css('width', '15%');
            $('#'+detail_table_name+'_wrapper thead .tb_column_4').css('width', '15%');
          },
          clearField_ReceiptForm: function(){
            this.detail_serie='';
            $('#detail_date').val('');
            this.detail_status='';
            this.detail_receipt_type=-1;
            this.detail_exchange='';
            this.detail_money=0;
            this.detail_comment='';
            $('#debitTotal_amount').text('0');
            $('#creditTotal_amount').text('0');
            this.$refs.table2.dt.clear().draw();
          },
          saveData_ReceiptForm: function(){
            var data = this.$refs.table2.dt.row().data();
            sessionStorage.setItem('detail_date', $('#detail_date').val());
            sessionStorage.setItem('detail_receipt_type', this.detail_receipt_type);
            sessionStorage.setItem('detail_exchange', this.detail_exchange);
            sessionStorage.setItem('detail_money', this.detail_money);
            sessionStorage.setItem('detail_comment', this.detail_comment);
            sessionStorage.setItem('data_detail', data != undefined ? data : []);
          },
          verify_data_have_change: function(){
            if(sessionStorage.getItem("detail_date") != $('#detail_date').val()){
              return true;
            }
            else if(sessionStorage.getItem("detail_receipt_type") != this.detail_receipt_type){
              return true;
            }
            else if(sessionStorage.getItem("detail_exchange") != this.detail_exchange){
              return true;
            }
            else if(sessionStorage.getItem("detail_money") != this.detail_money){
              return true;
            }
            else if(sessionStorage.getItem("detail_comment") != this.detail_comment){
              return true;
            }
            return false;
          },
          verify_data_valid: function(){
            if(this.detail_serie.length > 0){
              return true;
            }
            if($('#detail_date').val().length > 0){
              return true;
            }
            if(this.detail_status.length > 0){
              return true;
            }
            if(this.detail_receipt_type > -1){
              return true;
            }
            if(this.detail_exchange.length > 0){
              return true;
            }
            if(this.detail_money > 0){
              return true;
            }
            if(this.detail_comment.length > 0){
              return true;
            }
            if(this.$refs.table2.dt.row().data() != undefined){
              return true;
            }
            return false;
          },
          actionShowReceiptForm: function(){
            this.show_receipt_table = false;
            this.show_receipt_form = true;
            var data = sessionStorage.getItem("detail_date");
            if(data){
              $('#detail_date').val(data);
            }
            data = sessionStorage.getItem("detail_receipt_type");
            if(data){
              this.detail_receipt_type=data;
            }
            data = sessionStorage.getItem("detail_exchange");
            if(data){
              this.detail_exchange=data;
            }
            data = sessionStorage.getItem("detail_money");
            if(data){
              this.detail_money=data;
            }
            data = sessionStorage.getItem("detail_comment");
            if(data){
              this.detail_comment=data;
            }
            data = sessionStorage.getItem("data_detail");
            if(data){
            	this.$refs.table2.dt.rows.add( data ).draw();
            }
            sessionStorage.clear();
          },
          actionShowReceiptTable:function(){
            if(this.bool_receipt_modify){
              this.show_receipt_table = true;
              this.show_receipt_form = false;
              this.clearField_ReceiptForm();
              this.cssDetailTable();
              this.bool_receipt_modify = false;
              $('#detail_serie').attr('disabled', true);
              $('#detail_date').attr('disabled', false);
              $('#detail_status').attr('disabled', false);
              $('#detail_receipt_type').attr('disabled', false);
              $('#detail_exchange').attr('disabled', false);
              $('#detail_money').attr('disabled', false);
              $('#detail_comment').attr('disabled', false);
            }else{
              if(this.verify_data_valid()){
                if(this.verify_data_have_change()){
                  this.$swal.fire({
                    title: this.mssg_question_save_data,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: this.btn_mssg_save_close,
                    confirmButtonText: this.btn_mssg_save_confirm,
                  }).then((result) => {
                    if (result.isConfirmed) {
                      this.saveData_ReceiptForm();
                      toastr.success(this.mssg_save);
                    }
                    this.clearField_ReceiptForm();
                    this.show_receipt_table = true;
                    this.show_receipt_form = false;
                  });
                }else{
                  this.clearField_ReceiptForm();
                  this.show_receipt_table = true;
                  this.show_receipt_form = false;
                }
              }else{
                this.show_receipt_table = true;
                this.show_receipt_form = false;
              }
            }
          },
          actionModifyReceipt: function(){
            if(this.$refs.table.dt.row({selected: true}).any()){
              $.ajaxSetup({
                headers: {
                	'X-CSRF-TOKEN': this.csrf
                }
              });
              var data = this.$refs.table.dt.row({selected: true}).data();
              $.ajax({
                 type:'POST',
                 url:'/comprobante',
                 data: {'only_receipt': 'true', 'receiptID': data[0]},
                 success: data => {
                    if(data.Success == true){
                      var debitValue = 0;
                      var creditValue = 0;
                      this.detail_serie=data.content.Serie;
                      $('#detail_date').val(data.content.Fecha);
                      this.detail_status=data.content.Estado;
                      this.detail_receipt_type=parseInt(data.content.TipoComprobante);
                      this.detail_exchange=data.content.TC;
                      this.detail_money=data.content.IdMoneda;
                      this.detail_comment=data.content.Glosa;
                      $('#detail_serie').attr('disabled', true);
                      $('#detail_date').attr('disabled', true);
                      $('#detail_status').attr('disabled', true);
                      $('#detail_receipt_type').attr('disabled', true);
                      $('#detail_exchange').attr('disabled', true);
                      $('#detail_money').attr('disabled', true);
                      $('#detail_comment').attr('disabled', true);
                      this.bool_receipt_modify = true;
                      this.show_receipt_table = false;
                      this.show_receipt_form = true;
                      var result = [];
                      var keys = [];
                      if(data.content2.length > 0){
                          var keys = Object.keys(data.content2[0]); 
                        }
                        data.content2.forEach(function(n){
                            var newData = [];
                            debitValue += parseInt(n[keys[keys.length-2]]);
                            creditValue += parseInt(n[keys[keys.length-1]]);
                            keys.forEach(function(key){
                                newData.push(n[key]);
                            });
                            result.push(newData);
                        });
                        $('#debitTotal_amount').text(debitValue);
                        $('#creditTotal_amount').text(creditValue);
                        this.$refs.table2.dt.clear().draw();
                        this.$refs.table2.dt.rows.add( result ).draw();
                        this.cssDetailTable();
                    }else{
                      toastr.error(data.content);
                    }
                 },
                 error: function(data){
                    console.log(data);
                    toastr.error(this.mssg_fail);
                 }
              });
            }else{
              toastr.error(this.mssg_noselect_row);
            }
          },
          actionSaveDetail: function(){
            if(!this.bool_receipt_modify){
              if(this.verify_data_valid()){
                if(this.verify_data_have_change()){
                  this.saveData_ReceiptForm();
                  toastr.success(this.mssg_save);
                }else{
                  toastr.error(this.mssg_save_data_exist);
                }
              }else{
                toastr.error(this.mssg_save_data_empty);
              }
            }else{
              toastr.error(this.mssg_error_function_not_available);
            }
          },
        },
        mounted() {
          var cssDetailTable = this.cssDetailTable;
          $(document).ready(function(){
            cssDetailTable();
          });
          console.log('Component mounted.');
        }
    }
</script>