<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-9 col-lg-7 col-xl-6">
                <div class="card">
                    <div class="card-header">{{ title }}</div>

                    <div class="card-body">
                        <form :method="frm_method" :action="frm_action" @submit="checkForm" id='form' >
                          <table class='col-12' cellpadding="3" cellspacing="1" >
                            <tr>
                              <td class="col-6" >
                                <select class="form-select" id='empresa' >
                                </select>
                                <input type='hidden' name='id'>
                                <input type='hidden' name='name'>
                              </td>
                              <td class="col-1" >
                                <button id='btn_submit' type="button" class="btn btn-primary col-12 float-end" @click='actionAccept' ><i class="bi bi-arrow-right"></i></button>
                              </td>
                            </tr>
                          </table>
                          <input type="hidden" name="_token" :value="csrf">
                          <div class='col-12 mt-3 d-flex bd-highlight text-end' >
                              <button type="button" class="btn mx-1 btn-secondary flex-grow-1 bd-highlight" data-bs-toggle="modal" data-bs-target="#modal" @click='actionAdd' ><i class="bi bi-plus"></i> {{ btn_add }}</button>
                              <button id='btn_modify' type="button" class="btn mx-1 btn-success flex-grow-1 bd-highlight" @click='actionModify' ><i class="bi bi-pencil-square"></i> {{ btn_modify }}</button>
                              <button id='btn_delete' type="button" class="btn mx-1 btn-danger flex-grow-1 bd-highlight" @click='actionDelete' ><i class="bi bi-trash3-fill"></i> {{ btn_delete }}</button>
                              <button type="button" class="btn mx-1 btn-warning flex-grow-1 bd-highlight" @click='actionReport' ><i class="bi bi-file-text"></i></button>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="title_modal">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div id='modal-body' class="modal-body">
                <form >
                    <input type="hidden" name="_token" :value="csrf">
                    <div class='col-12' >
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" :placeholder='ph_name' v-model="name" id="name" name="name" oninput="this.value = this.value.replace(/[^a-zA-Z0-9\ \-+-]/g, '').replace(/(\..*)\./g, '$1');" :maxlength='name_maximum_digits' >
                          <label class="form-floating-text" >{{ et_name }}</label>
                        </div>
                        <div class='d-flex justify-content-start'>
                          <div class="form-floating mb-3 me-4 col-7">
                            <input type="text" class="form-control" :placeholder='ph_nit' v-model="nit" id="nit" name="nit" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" :maxlength='nit_maximum_digits' >
                            <label class="form-floating-text" >{{ et_nit }}</label>
                          </div>
                          <div class="form-floating mb-3 col-4">
                            <select class="form-select" id="level">
                              <option value="3" selected>3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                            </select>
                            <label for="floatingSelect">{{ et_level }}</label>
                          </div>
                        </div>
                        <div class='d-flex justify-content-start'>
                          <div class="form-floating mb-3 me-4 col-5">
                            <input type="text" class="form-control" :placeholder='ph_acronym' v-model="acronym" id="acronym" name="acronym" oninput="this.value = this.value.replace(/[^a-zA-Z0-9\.\-\ +-]/g, '').replace(/(\..*)\./g, '$1');" :maxlength='acronym_maximum_digits' >
                            <label class="form-floating-text" >{{ et_acronym }}</label>
                          </div>
                          <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" :placeholder='ph_ph_number' v-model="ph_number" id="ph_number" name="ph_number" oninput="this.value = this.value.replace(/[^0-9+-]/g, '').replace(/(\..*)\./g, '$1');" :maxlength='ph_number_maximum_digits' >
                            <label class="form-floating-text" >{{ et_ph_number }}</label>
                          </div>
                        </div>
                        <div class='d-flex justify-content-start mb-3'>
                          <div :class="['form-floating', 'me-4', 'col-5']">
                            <input type="email" :class="['form-control', 'border' , 'border-1', isEmailValid()]" :placeholder='ph_email' v-model="email" id="email" name="email" :maxlength='email_maximum_digits' >
                            <label class="form-floating-text" >{{ et_email }}</label>
                          </div>
                          <div class="form-floating col-6" id='div_pr_money' >
                            <select class="form-select" id="pr_money">
                              <option value="0" selected>{{ opt_pr_money_default }}</option>
                            </select>
                            <label for="floatingSelect">{{ et_money }}</label>
                          </div>
                        </div>
                        <div class="form-floating">
                          <textarea class="form-control" :placeholder="ph_address" v-model="address" id="address" name="address" style="resize: none;" :maxlength="address_maximum_digits" oninput='this.style.height = "";this.style.height = this.scrollHeight+5 + "px"'  ></textarea>
                          <label for="address">{{ et_address }}</label>
                        </div>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ btn_close }}</button>
                <button type="button" id='btn_accept' class="btn btn-primary">Accept</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                url_report: document.querySelector('meta[name="url_report"]').getAttribute('content'),
                name: '',
                nit: '',
                acronym: '',
                ph_number: '',
                email: '',
                address: ''
            };
        },
        props: {
            errors: Array,
            frm_method: String,
            frm_action: String,
            title: String,
            title_add: String,
            title_modify: String,
            opt_default: String,
            btn_add: String,
            btn_modify:String,
            btn_delete: String,
            btn_accept_add: String,
            btn_accept_modify: String,
            btn_close: String,
            ph_name: String,
            ph_nit: String,
            ph_acronym: String,
            ph_ph_number: String,
            ph_email: String,
            ph_address: String,
            et_name: String,
            et_nit: String,
            et_acronym: String,
            et_ph_number: String,
            et_email: String,
            et_address: String,
            et_level: String,
            et_money: String,
            regex_email: String,
            name_maximum_digits: Number,
            nit_maximum_digits: Number,
            acronym_maximum_digits: Number,
            ph_number_maximum_digits: Number,
            email_maximum_digits: Number,
            address_maximum_digits: Number,
            mssg_error_select: String,
            mssg_error_name_empty: String,
            mssg_error_nit_empty: String,
            mssg_error_acronym_empty: String,
            mssg_error_email_invalid: String,
            mssg_success_add: String,
            mssg_success_modify: String,
            mssg_error_pr_money_noselect: String,
            delete_confirm_title: String,
            delete_confirm_btn_cancel: String,
            delete_confirm_btn_next: String,
            delete_confirm_text_invalid: String,
            delete_confirm_mssg_success: String,
            delete_confirm_mssg_fail: String,
            opt_pr_money_default: String,
            data_money: Array,
        },
        methods: {
            checkForm: function(e){
                this.errors = [];

                e.preventDefault();
                
            },
            isEmailValid: function() {
              return (this.email == "")? "" : (new RegExp(this.regex_email).test(this.email)) ? 'border-success' : 'border-danger';
            },
            clearField: function(){
              this.name = '';
              this.nit = '';
              this.acronym = '';
              this.ph_number = '';
              this.email = '';
              this.address = '';
              $("#level").attr('disabled', false);
              $('#pr_money').attr('disabled', false);
              $("#level").val('3');
              $("#pr_money").val('0');
            },
            reload: function(){
              $('#empresa').empty();
              $('#empresa').append($('<option>', {
                value: '0',
                text: this.opt_default,
                selected: "selected"
              }));
              $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
              });
              return new Promise((resolve, reject) => {
                $.ajax({
                   type:'POST',
                   url:'/empresa',
                   data: {},
                   success:function(data) {
                      $.each(data.content,function(inx, result) {
                          $('#empresa').append($('<option>', { 
                            value: result.id,
                            text : result.Nombre 
                        }));
                      });
                      resolve(true);
                   },
                   error: function(data){
                     console.log(data);
                     reject(data);
                   }
                });
              });
            },
            validateField: function(){
              if($("#name").val().trim() == ''){
                toastr.error(this.mssg_error_name_empty);
                return false;
              }
              if($("#nit").val().trim() == ''){
                toastr.error(this.mssg_error_nit_empty);
                return false;
              }
              if($("#acronym").val().trim() == ''){
                toastr.error(this.mssg_error_acronym_empty);
                return false;
              }
              if((this.email == "")? false : (new RegExp(this.regex_email).test(this.email)) ? false : true){
                toastr.error(this.mssg_error_email_invalid);
                return false;
              }
              return true;
            },
            actionAccept: function(e){
              if($('#empresa :selected').val() != '0'){
                $('input[name="id"]').val($('#empresa :selected').val());
                $('input[name="name"]').val($('#empresa :selected').text());
                $('#form').submit();
              }else{
                toastr.error(this.mssg_error_select);
              }
            },
            actionAcceptAdd: async function(e){
              if(this.validateField()){
                if($('#pr_money').val() == 0){
                  toastr.error(this.mssg_error_pr_money_noselect);
                  return;
                }
                $.ajax({
                   type:'POST',
                   url:'/empresa',
                   data: {'insert': 'true', 'name': this.name.trim(), 'nit': this.nit.trim(), 'acronym': this.acronym.trim(), 'ph_number': this.ph_number.trim(), 'email': this.email.trim(), 'address': this.address.trim(), 'level': $('#level :selected').val(), 'principalMoneyID': $('#pr_money').val()},
                   success: async data => {
                      if(data.Success == true){
                        toastr.success(this.mssg_success_add);
                        await this.reload();
                        $('#empresa').val($('#empresa option:last').val());
                        if($('#empresa :selected').val() != '0'){
                          this.enableButton();
                        }else{
                          this.disableButton();
                        }
                        $('#modal').modal('hide');
                      }else{
                        toastr.error(data.content);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      $('#modal').modal('hide');
                   }
                });
              }
            },
            actionAcceptModify: async function(e){
              if(this.validateField()){
                $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                });
                $.ajax({
                   type:'POST',
                   url:'/empresa',
                   data: {'id': $('#empresa :selected').val(), 'update': 'true', 'name': this.name.trim(), 'nit': this.nit.trim(), 'acronym': this.acronym.trim(), 'ph_number': this.ph_number.trim(), 'email': this.email.trim(), 'address': this.address.trim(), 'level': $('#level :selected').val(), 'principalMoneyID': $('#pr_money').val()},
                   success: async data => {
                      if(data.Success == true){
                        toastr.success(this.mssg_success_modify);
                        var id = $('#empresa :selected').val();
                        await this.reload();
                        $('#empresa').val(id);
                        if($('#empresa :selected').val() != '0'){
                          this.enableButton();
                        }else{
                          this.disableButton();
                        }
                        $('#modal').modal('hide');
                      }else{
                        toastr.error(data.content);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      $('#modal').modal('hide');
                   }
                });
              }
            },
            actionAdd: function(e){
              $('#title_modal').empty();
              $('#title_modal').html(this.title_add);
              $('#btn_accept').empty();
              $('#btn_accept').off();
              $('#btn_accept').click(this.actionAcceptAdd);
              $('#btn_accept').html(this.btn_accept_add);
              this.clearField();
              setTimeout(function(){
                $('#name').focus();
              }, 545);
            },
            actionModify: function(e){
                if($('#empresa :selected').val() != '0'){
                  this.clearField();
                  $('#title_modal').empty();
                  $('#title_modal').html(this.title_modify);
                  $('#btn_accept').empty();
                  $('#btn_accept').off();
                  $('#btn_accept').click(this.actionAcceptModify);
                  $('#btn_accept').html(this.btn_accept_modify);
                  $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                  });
                  $.ajax({
                     type:'POST',
                     url:'/empresa',
                     data: {'id': $('#empresa :selected').val()},
                     success:data => {
                       if(data.Success == true){
                        if(data.moneyValid){
                          $('#pr_money').val(data.moneyID);
                        }else{
                          $('#pr_money').attr('disabled', true);
                          $('#pr_money').val(data.moneyID);
                        }
                        this.name = data.content.Nombre;
                        this.nit = data.content.NIT;
                        this.acronym = data.content.Sigla;
                        this.ph_number = data.content.Telefono;
                        this.email = data.content.Correo;
                        this.address = data.content.Direccion;
                        $('#level').val(data.content.Niveles);
                        if(data.content.tieneCuenta){
                          $('#level').attr('disabled', true);
                        }
                        $('#level').val(data.content.Niveles);
                        $('#modal').modal('show');
                        setTimeout(function(){
                          $('#name').focus();
                        }, 545);
                      }else{
                        toastr.error(data.content);
                      }
                     },
                     error: function(data){
                         console.log(data);
                     }
                  });
              }else{
                toastr.error(this.mssg_error_select);
                //this.$swal.fire({
                //  icon: 'error',
                //  title: this.mssg_error_select,
                //  showConfirmButton: false,
                //  timer: 1500
                //});
              }
            },
            actionReport: function(e){
              window.open(this.url_report, '_blank')
            },
            actionDelete: function(e){
              if($('#empresa :selected').val() != '0'){
                this.$swal.fire({
                  title: this.delete_confirm_title.replace('"name"', `'${$('#empresa :selected').text()}'`),
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  cancelButtonText: this.delete_confirm_btn_cancel,
                  confirmButtonText: this.delete_confirm_btn_next,
                }).then((result) => {
                  if (result.isConfirmed) {
                    var name = $('#empresa :selected').text();
                    var disableButton = this.disableButton;
                    $.ajaxSetup({
                      headers: {
                      	'X-CSRF-TOKEN': this.csrf
                      }
                    });
                    $.ajax({
                       type:'POST',
                       url:'/empresa',
                       data: {'id': $('#empresa :selected').val(), 'delete': 'true'},
                       success: async data => {
                          if(data.Success == true){
                            disableButton();
                            await this.reload();
                            toastr.success(this.delete_confirm_mssg_success.replace('"name"', `'${name}'`));
                          }else{
                            toastr.error(this.delete_confirm_mssg_fail);
                          }
                       },
                       error: function(data){
                          console.log(data);
                          $('#modal').modal('hide');
                       }
                    });
                  }
                });
              }else{
                toastr.error(this.mssg_error_select);
              }
            },
            disableButton: function(){
              $('#btn_submit').attr('disabled', true);
              $('#btn_modify').attr('disabled', true);
              $('#btn_delete').attr('disabled', true);
            },
            enableButton: function(){
              $('#btn_submit').attr('disabled', false);
              $('#btn_modify').attr('disabled', false);
              $('#btn_delete').attr('disabled', false);
            },
        },
        mounted() {
          var data_money = this.data_money;
          $('#btn_modify').attr('disabled', true);
          $('#btn_delete').attr('disabled', true);
          $('#btn_submit').attr('disabled', true);
          var enableButton = this.enableButton;
          var disableButton = this.disableButton;
          $(document).ready(function(){
            $.each(data_money, function(inx, result){
              $('#pr_money').append($('<option>', { 
                value: result.ID,
                text : result.Nombre 
              }));
            });
            $('#empresa').change(function(){
              if($('#empresa :selected').val() != 0){
                enableButton();
              }else{
                disableButton();
              }
            });
          });
          this.reload();
          console.log('Component mounted.')
        }
    }
</script>

<style>
  .fs-7 {
      font-size: 0.675rem !important;
  }
</style>