<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9 col-sm-8 col-lg-6 col-xl-5">
                <div class="message-box p-1 mb-3 text-light text-uppercase fs-4" style="background-color: #E91E63; opacity: 0.7;" v-for="error in errors" v-bind:key="error" ><span class='ms-2' >{{ error }}</span></div>
                <div class="login-box opacity-75">
                    <div class="card-header bg-dark text-white text-uppercase">Login</div>
                    <div class="card-body">
                        <form :action="frm_action" :method="frm_method" @submit="checkForm" >
                            <input type="hidden" name="_token" :value="csrf">
                            <table cellpadding="10" >
                                <tr>
                                    <td>
                                        <label class="text-uppercase fst-italic" >{{ et_user }}</label>
                                    </td>
                                    <td class='col-12' >
                                        <input id="lg_user" name="lg_user" class="form-control" type="text" v-model="user_field" :placeholder="ph_user" :maxlength="user_maximum_digits" required />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="text-uppercase fst-italic" >{{ et_pass }}</label>
                                    </td>
                                    <td class='col-12'>
                                        <input id="lg_pass" class="form-control" type="password" v-model="pass_field" :placeholder="ph_pass" :maxlength="pass_maximum_digits" required />
                                        <input name="lg_pass" class="form-control" type="hidden" v-model="pass_encrypt_field" />
                                    </td>
                                </tr>
                            </table>
                            <div class="float-end">
                                <button type="submit" class="btn btn-dark m-3" >{{ btn_submit }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                user_field: null,
                pass_field: null,
                pass_encrypt_field: null,
            };
        },
        props: {
            errors: Array,
            btn_submit: String,
            et_user: String,
            et_pass: String,
            ph_user: String,
            ph_pass: String,
            frm_method: String,
            frm_action: String,
            user_minimum_digits: Number,
            user_maximum_digits: Number,
            pass_maximum_digits: Number,
        },
        methods: {
            checkForm: function(e){
                this.pass_encrypt_field = md5(this.pass_field);
                return true;
            }
        },
        mounted() {
            $(document).ready(function(){
                setTimeout(function(){
                  $('#lg_user').focus();
                }, 345);
            });
            console.log('Component mounted.')
        }
    }
</script>
<style>
    .login-box {
        width: 420px;
        background: rgba(0,0,0,0.5);
        color: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }
    .message-box {
        width: 420px;
        color: #fff;
        top: 33%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
    }
</style>