<template>
    <div class="">
      <div class="breadcome-list text-light">
        <div class="row">
          <div>
              <div class='d-flex justify-content-center flex-row' >
                <div class="col-3 me-5">
                  <label for="pr_money" class="form-label">{{ et_principal_money }}</label>
                  <input type="text" class="form-control" id="pr_money" :value="principal_money" disabled >
                </div>
                <div class="col-4 me-5">
                  <label for="al_money" class="form-label">{{ et_alternative_money }}</label>
                  <select class="form-select" id="al_money" >
                    <option value='0'>{{ opt_alternative_money_default }}</option>
                  </select>
                </div>
                <div class="col-3">
                  <label for="change" class="form-label">{{ et_exchange }}</label>
                  <input type="text" class="form-control" id="exchange" v-model='exchange' oninput="this.value = this.value.replace(/[^0-9\.]/g, '').replace(/(\..*)\./g, '$1');" :maxlength='exchange_maximum_digits' >
                </div>
              </div>
              <div class='col-12 text-center mt-3 p-2' >
                <button type='button' class='btn btn-primary ps-4 pe-4' id='btn_add ' @click="action_add" ><i class="bi bi-plus"></i></button>
              </div>
              <custom_table class='col-12 mt-2' ref="table"
                :columns="columns"
                :data="rows"
                :table_name='table_name'
                :column_order='column_order'
                :check_order_desc='check_order_desc'
                :check_remove_bfilter='check_remove_bfilter' >
              </custom_table>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    import CustomTableComponent from './CustomTableComponent';
    export default {
        data: function() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                url_report: document.querySelector('meta[name="url_report"]').getAttribute('content'),
                exchange: '',
            };
        },
        props: {
            errors: Array,
            principal_money: String,
            data_alternative_money: Array,
            select_alternative_money: Number,
            money_exchange: String,
            et_principal_money: String,
            et_alternative_money: String,
            et_exchange: String,
            add_title: String,
            modify_title: String,
            exchange_maximum_digits: Number,
            columns: Array,
            rows: Array,
            table_name: String,
            column_order: Number,
            btn_close: String,
            mssg_error_exchange_empty: String,
            mssg_error_exchange_invalid: String,
            mssg_error_exchange_number_zero: String,
            mssg_error_al_money_empty: String,
            mssg_success_add: String,
            mssg_noselect_row: String,
            mssg_fail: String,
            opt_alternative_money_default: String,
            check_order_desc: Boolean,
            check_remove_bfilter: Boolean,
        },
        methods: {
          validateField: function(){
            if($("#exchange").val().trim() == ''){
              toastr.error(this.mssg_error_exchange_empty);
              return false;
            }
            if(isNaN(this.exchange)){
              toastr.error(this.mssg_error_exchange_invalid);
              return false;
            }else{
              if(parseFloat(this.exchange) == 0){
                toastr.error(this.mssg_error_exchange_number_zero);
                return false;
              }
            }
            if($("#al_money").val() == 0){
              toastr.error(this.mssg_error_al_money_empty);
              return false;
            }
            return true;
          },
          action_add: function(){
            if(this.validateField()){
              $.ajaxSetup({
                headers: {
                	'X-CSRF-TOKEN': this.csrf
                }
              });
              $.ajax({
                 type:'POST',
                 url:'/moneda',
                 data: { 'insert':true, 'exchange': this.exchange, 'alternativeMoneyID': $('#al_money').val() },
                 success: data => {
                    if(data.Success == true){
                      this.reload();
                    }else{
                      toastr.error(data.content);
                    }
                 },
                 error: function(data){
                    console.log(data);
                    toastr.error(this.mssg_fail);
                 }
              });
            }
          },
          reload: function(){
            $.ajaxSetup({
              headers: {
              	'X-CSRF-TOKEN': this.csrf
              }
            });
            $.ajax({
               type:'POST',
               url:'/moneda',
               data: {},
               success: data => {
                  if(data.Success == true){
                    var result = [];
                    var keys = [];
                    if(data.content.length > 0){
                      var keys = Object.keys(data.content[0]); 
                    }
                    data.content.forEach(function(n){
                        var newData = [];
                        keys.forEach(function(key){
                            newData.push(n[key]);
                        });
                        result.push(newData);
                    });
                    this.$refs.table.dt.clear().draw();
                    this.$refs.table.dt.rows.add( result ).draw();
                  }else{
                    toastr.error(data.content);
                  }
               },
               error: function(data){
                  console.log(data);
                  toastr.error(this.mssg_fail);
               }
            });
          },
        },
        mounted() {
          var data_alternative_money = this.data_alternative_money;
          var select_alternative_money = this.select_alternative_money;
          this.exchange = this.money_exchange;
          $(document).ready(function(){
            $.each(data_alternative_money, function(inx, result){
              $('#al_money').append($('<option>', { 
                value: result.ID,
                text : result.Nombre 
              }));
            });
            $('#al_money').val(select_alternative_money);
          });
          console.log('Component mounted.')
        }
    }
</script>
