<template>
    <div class="">
        <div class="breadcome-list">
            <div class="row">
              <div class='col-6 text-start' style='margin-bottom: 30px;'>
                <button id='btn_gestion' type="button" class="btn btn-info" @click='action_return_periodo' ><i class="bi bi-arrow-left-short"></i> {{ btn_return_periodo }}</button>
              </div>
              <div class='col-6 text-end' style="margin-bottom: 30px;" >
                  <button id='btn_add' type="button" class="btn btn-secondary" @click='actionAdd' ><i class="bi bi-plus"></i></button>
                  <button id='btn_modify' type="button" class="btn btn-success" @click='actionModify' ><i class="bi bi-pencil-square"></i></button>
                  <button id='btn_delete' type="button" class="btn btn-danger" @click='actionDelete' ><i class="bi bi-trash3-fill"></i></button>
                  <button type="button" class="btn btn-warning" @click='actionReport' ><i class="bi bi-file-text"></i></button>
              </div>
              <custom_table class='col-xs-12' ref="table"
              :columns="columns"
              :data="rows"
              :table_name='table_name'
              :column_order='column_order' />
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label">{{ et_name }}</label>
                  <input type="text" class="form-control" id="name" v-model="name" :maxlength="name_maximum_digits" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '').replace(/(\..*)\./g, '$1');" >
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">{{ et_start_date }}</label>
                  <input name='dates' type="text" class="form-control" id="fIni" >
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">{{ et_end_date }}</label>
                  <input name='dates' type="text" class="form-control" id="fFin" >
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ btn_close }}</button>
                <button type="button" id='btn_accept' class="btn btn-primary"></button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    import CustomTableComponent from './CustomTableComponent';

    export default {
        data: function() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                url_report: '',
                name: '',
            };
        },
        props: {
            errors: Array,
            columns: Array,
            rows: Array,
            table_name: String,
            title_add: String,
            title_modify: String,
            name_maximum_digits: Number,
            et_name: String,
            et_start_date: String,
            et_end_date: String,
            date_min: String,
            date_max: String,
            btn_return_periodo: String,
            btn_return_periodo_href: String,
            btn_accept_add: String,
            btn_accept_modify: String,
            btn_close: String,
            mssg_noselect_row: String,
            mssg_error_name_empty: String,
            mssg_error_fini_empty: String,
            mssg_error_ffin_empty: String,
            mssg_error_date_invalid: String,
            mssg_error_fini_format_invalid: String,
            mssg_error_ffin_format_invalid: String,
            mssg_success_add: String,
            mssg_success_modify: String,
            mssg_delete_confirm_title: String,
            mssg_delete_confirm_success: String,
            mssg_fail: String,
            column_order: Number,
            delete_confirm_btn_cancel: String,
            delete_confirm_btn_next: String,
        },
        methods: {
            clearField: function(){
                this.name = '';
                $('#name').prop( "disabled", false );
                $('#fIni').prop( "disabled", false );
                $('#fFin').prop( "disabled", false );
                $('#btn_accept').prop( "disabled", false );
                this.reloadDate();
            },
            reload: function(){
                $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                });
                $.ajax({
                   type:'POST',
                   url:'/periodo',
                   data: {},
                   success: data => {
                      if(data.Success == true){
                        var result = [];
                        var keys = [];
                        if(data.content.length > 0){
                          var keys = Object.keys(data.content[0]); 
                        }
                        data.content.forEach(function(n){
                            var newData = [];
                            keys.forEach(function(key){
                                newData.push(n[key]);
                            });
                            result.push(newData);
                        });
                        this.$refs.table.dt.clear().draw();
                        this.$refs.table.dt.rows.add( result ).draw();
                      }else{
                        toastr.error(data.content);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      toastr.error(this.mssg_fail);
                      $('#modal').modal('hide');
                   }
                });
            },
            validateField: function(){
                if(this.name.trim() == ''){
                  toast.error(this.mssg_error_name_empty);
                  return false;
                }
                if($('#fIni').val() == ''){
                  toastr.error(this.mssg_error_fini_empty);
                  return false;
                }
                if($('#fFin').val() == ''){
                  toastr.error(this.mssg_error_ffin_empty);
                  return false;
                }
                var date1 = moment($('#fIni').val(), 'DD/MM/YYYY');
                var date2 = moment($('#fFin').val(), 'DD/MM/YYYY');
                if(date2 < date1){
                  toastr.error(this.mssg_error_date_invalid);
                  return false;
                }
                if(!moment($('#fIni').val(), 'DD/MM/YYYY', true).isValid()){
                  toastr.error(this.mssg_error_fini_format_invalid);
                  return false;
                }
                if(!moment($('#fFin').val(), 'DD/MM/YYYY', true).isValid()){
                  toastr.error(this.mssg_error_ffin_format_invalid);
                  return false;
                }
                return true;
            },
            actionAcceptAdd: function(e){
              if(this.validateField()){
                var ini = moment($('#fIni').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
                var fin = moment($('#fFin').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
                $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                });
                $.ajax({
                   type:'POST',
                   url:'/periodo',
                   data: {'insert': 'true', 'name': this.name.trim(), 'fIni': ini, 'fFin': fin},
                   success: data => {
                      if(data.Success == true){
                        toastr.success(this.mssg_success_add);
                        this.reload();
                        $('#modal').modal('hide');
                      }else{
                        toastr.error(data.content);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      $('#modal').modal('hide');
                   }
                });
              }
            },
            actionAcceptModify: function(e){
              if(this.validateField()){
                var ini = moment($('#fIni').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
                var fin = moment($('#fFin').val(), 'DD/MM/YYYY').format('YYYY-MM-DD');
                $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                });
                $.ajax({
                   type:'POST',
                   url:'/periodo',
                   data: {'update': 'true', 'name': this.name.trim(), 'fIni': ini, 'fFin': fin, 'periodoID': this.$refs.table.dt.row({selected: true}).data()[0]},
                   success: data => {
                      if(data.Success == true){
                        toastr.success(this.mssg_success_modify);
                        this.reload();
                        $('#modal').modal('hide');
                      }else{
                        toastr.error(data.content);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      toastr.error(this.mssg_fail);
                      $('#modal').modal('hide');
                   }
                });
              }
            },
            reloadDate: function(){
              var ini = moment(this.date_min, 'YYYY-MM-DD').format('DD/MM/YYYY');
              $('#fIni').val(ini);
              $('#fFin').val(ini);
            },
            actionAdd: function(e){
              this.clearField();
              $('#modal-title').html(this.title_add);
              $('#btn_accept').text(this.btn_accept_add);
              $('#btn_accept').off().click(this.actionAcceptAdd);
              $('#modal').modal('show');
              setTimeout(function(){
                $('#name').focus();
              }, 545);
            },
            actionModify: function(e){
                if(this.$refs.table.dt.row({selected: true}).any()){
                    this.clearField();
                    var data = this.$refs.table.dt.row({selected: true}).data();
                    if(data[data.length - 1] == 'Cerrado'){
                      $('#name').prop( "disabled", true );
                      $('#fIni').prop( "disabled", true );
                      $('#fFin').prop( "disabled", true );
                      $('#btn_accept').prop( "disabled", true );
                    }
                    this.name = data[1];
                    $('#fIni').val(data[2]);
                    $('#fFin').val(data[3]);
                    $('#modal-title').html(this.title_modify);
                    $('#btn_accept').text(this.btn_accept_modify);
                    $('#btn_accept').off().click(this.actionAcceptModify);
                    $('#modal').modal('show');
                    setTimeout(function(){
                      $('#name').focus();
                    }, 545);
                }else{
                  toastr.error(this.mssg_noselect_row);
                }
            },
            action_return_periodo: function(e){
              $('#frame').load('/gestion?'+$.param({
                  frame: 'true'
              }));
            },
            actionDelete: function(){
              var disableButton = this.deselectRow;
              if(this.$refs.table.dt.row({selected: true}).any()){
                var data = this.$refs.table.dt.row({selected: true}).data();
                var name = data[1];
                this.$swal.fire({
                  title: this.mssg_delete_confirm_title.replace('"name"', `'${name}'`),
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  cancelButtonText: this.delete_confirm_btn_cancel,
                  confirmButtonText: this.delete_confirm_btn_next,
                }).then((result) => {
                  if (result.isConfirmed) {
                    $.ajaxSetup({
                      headers: {
                      	'X-CSRF-TOKEN': this.csrf
                      }
                    });
                    $.ajax({
                       type:'POST',
                       url:'/periodo',
                       data: {'periodoID': data[0], 'delete': 'true'},
                       success: async data => {
                          if(data.Success == true){
                            disableButton();
                            toastr.success(this.mssg_delete_confirm_success.replace('"name"', `'${name}'`));
                            await this.reload();
                          }else{
                            toastr.error(data.content);
                          }
                       },
                       error: function(data){
                          console.log(data);
                          toastr.error(this.mssg_fail);
                       }
                    });
                  }
                });
              }else{
                toastr.error(this.mssg_noselect_row);
              }
            },
            actionReport: function(e){
              this.url_report = document.querySelector('meta[name="url_report"]').getAttribute('content');
              window.open(this.url_report, '_blank')
            },
            selectRow(){
              var data = this.$refs.table.dt.row({selected: true}).data();
              if(data[data.length - 1] != 'Cerrado'){
                $('#btn_modify').attr('disabled', false);
              }
              $('#btn_delete').attr('disabled', false);
            },
            deselectRow(){
              $('#btn_modify').attr('disabled', true);
              $('#btn_delete').attr('disabled', true);
            },
        },
        mounted() {
          var ini = moment(this.date_min, 'YYYY-MM-DD').format('MM/DD/YYYY');
          var fin = moment(this.date_max, 'YYYY-MM-DD').format('MM/DD/YYYY');
          window.dateUpdateWithParameters(ini, fin);
          var t = $('#'+this.table_name);
          var functionSelect = this.selectRow;
          var functionDeselect = this.deselectRow;
          $('#btn_modify').attr('disabled', true);
          $('#btn_delete').attr('disabled', true);
          $(document).ready(function(){
            t.on('select.dt', functionSelect);
            t.on('deselect.dt', functionDeselect);
          });
          console.log('Component mounted.')
        }
    }
</script>
