<template>
    <div class="">
        <div class="breadcome-list">
            <div class="row" >
              <div class='text-end mb-3 me-3' >
                  <button id='btn_add' class="btn btn-primary" @click="btn_add_action"><i class="bi bi-plus"></i></button>
                  <button id='btn_modify' class="btn btn-success" @click="btn_modify_action"><i class="bi bi-pencil-square"></i></button>
                  <button id='btn_delete' class="btn btn-danger" @click="btn_delete_action"><i class="bi bi-trash3-fill"></i></button>
                  <button type="button" class="btn mx-1 btn-warning flex-grow-1 bd-highlight" @click='actionReport' ><i class="bi bi-file-text"></i></button>
              </div>
              <div id='tree' class='text-light overflow-auto' style='height: 65vh;' >
                <vue-tree-list
                  @click="onClick"
                  @change-name="onChangeName"
                  @delete-node="onDel"
                  @add-node="onAddNode"
                  :model="data"
                  v-bind:default-expanded="true"
                >
                  <template v-slot:leafNameDisplay="slotProps">
                    <span>
                      <span class='ms-2'>{{ slotProps.model.code }} -</span> {{ slotProps.model.name }}
                    </span>
                  </template>
                  
                  <span class="icon mx-1" slot="addTreeNodeIcon"><i class="bi bi-plus-square"></i></span>
                  <span class="icon mx-1" slot="addLeafNodeIcon"><i class="bi bi-plus-circle"></i></span>
                  <span class="icon mx-1" slot="editNodeIcon"><i class="bi bi-pencil-square"></i></span>
                  <span class="icon mx-1" slot="delNodeIcon"><i class="bi bi-trash"></i></span>
                  <span class="icon" slot="leafNodeIcon"><i class="bi bi-person-fill"></i></span>
                  <span class="icon" slot="treeNodeIcon"><i class="bi bi-credit-card"></i></span>
                </vue-tree-list>
              </div>
            </div>
        </div>
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label">{{ et_name }}</label>
                  <input type="text" class="form-control" id="name" v-model="name" :maxlength="name_maximum_digits" oninput="this.value = this.value.replace(/[^a-zA-Z0-9 ]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off" >
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ btn_close }}</button>
                <button id='btn_accept' type="button" class="btn btn-primary" ></button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
  import { VueTreeList, Tree, TreeNode } from 'vue-tree-list'
  export default {
    components: {
      VueTreeList
    },
    data() {
      return {
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        newTree: {},
        name: '',
        selectNode: {},
        data: new Tree(this.material)
      }
    },
    props: {
        material: Array,
        modal_title: String,
        btn_close: String,
        btn_accept_add: String,
        btn_accept_modify: String,
        limit: Number,
        et_name: String,
        name_maximum_digits: Number,
        mssg_error_limit_exceeded: String,
        mssg_error_name_empty: String,
        mssg_noselect_row: String,
        mssg_disabled_delete: String,
        mssg_success_add: String,
        mssg_success_modify: String,
        mssg_delete_confirm_success: String,
        mssg_delete_confirm_fail: String,
        delete_confirm_title: String,
        delete_confirm_btn_cancel: String,
        delete_confirm_btn_next: String,
    },
    methods: {
      onDel(node) {
        console.log(node)
        node.remove()
      },

      onChangeName(params) {
        console.log(params);
        
      },

      onAddNode(params) {
        params.remove();
      },

      onClick(params) {
        function searchNode(node, id) {
          if(node.id == id){
            return node;
          }else{
            if(node.children != void(0)){
              for(let i = 0; i < node.children.length; i++){
                let n = searchNode(node.children[i], id);
                if(Object.keys(n).length > 0){
                  return n;
                }
              }
            }
          }
          return {};
        }
        if(Object.keys(this.selectNode).length > 0){
          if(this.selectNode.id == params.id){
            this.selectNode = {};
          }else{
            this.selectNode = searchNode(this.data, params.id);
          }
        }else{
          this.selectNode = searchNode(this.data, params.id);
        }
        if($("#tree #"+params.id).hasClass('vtl-nodo-select')){
          $("#tree #"+params.id).removeClass('vtl-nodo-select');
        }else{
          if(Object.keys(this.selectNode).length > 0){
            $("#tree .vtl-nodo-select").removeClass('vtl-nodo-select');
            $("#tree #"+params.id).addClass('vtl-nodo-select');
          }
        }
        if(Object.keys(this.selectNode).length == 0) {
          $('#btn_modify').attr('disabled', true);
          $('#btn_delete').attr('disabled', true);
          $('#btn_add').attr('disabled', false);
        }
        if(Object.keys(this.selectNode).length > 0) if(this.selectNode.level < this.limit && $('#btn_add').attr('disabled')) $('#btn_add').attr('disabled', false);
        if(Object.keys(this.selectNode).length > 0) $('#btn_modify').attr('disabled', false);
        if(Object.keys(this.selectNode).length > 0) if(this.selectNode.delete) $('#btn_delete').attr('disabled', false);
        if(Object.keys(this.selectNode).length > 0) if(!this.selectNode.delete) $('#btn_delete').attr('disabled', true);
        if(this.selectNode.level >= this.limit){
          $('#btn_add').attr('disabled', true)
        }
      },

      btn_add_action(){
        this.name = '';
        $('#btn_accept').text(this.btn_accept_add);
        $('#btn_accept').off().click(this.addNode);
        $('#modal').modal('show');
        setTimeout(function(){
          $('#name').focus();
        }, 545);
      },

      btn_modify_action(){
        this.name = this.selectNode.name;
        $('#btn_accept').text(this.btn_accept_modify);
        $('#btn_accept').off().click(this.modifyNode);
        $('#modal').modal('show');
        setTimeout(function(){
          $('#name').focus();
        }, 545);
      },

      modifyNode(){
        if(Object.keys(this.selectNode).length > 0){
          if(this.name.trim() != ''){
            $.ajaxSetup({
              headers: {
              	'X-CSRF-TOKEN': this.csrf
              }
            });
            $.ajax({
               type:'POST',
               url:'/cuenta',
               data: { 'update': true, 'cuentaID': this.selectNode.id,'name': this.name.trim() },
               success: data => {
                  if(data.Success == true){
                    toastr.success(this.mssg_success_modify);
                    this.selectNode.name = this.name.trim();
                    $('#modal').modal('hide');
                  }else{
                    toastr.error(data.content);
                  }
               },
               error: function(data){
                  console.log(data);
                  $('#modal').modal('hide');
               }
            }); 
          }else{
            toastr.error(this.mssg_error_name_empty);
          }
        }else{
          toastr.error(this.mssg_noselect_row);
        }
      },

      btn_delete_action(){
        var name = this.selectNode.name;
        if(Object.keys(this.selectNode).length > 0){
          if(this.selectNode.delete){
            this.$swal.fire({
              title: this.delete_confirm_title.replace('"name"', `'${name}'`),
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              cancelButtonText: this.delete_confirm_btn_cancel,
              confirmButtonText: this.delete_confirm_btn_next,
            }).then((result) => {
              if (result.isConfirmed) {
                $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                });
                $.ajax({
                   type:'POST',
                   url:'/cuenta',
                   data: { 'delete': 'true', 'cuentaID': this.selectNode.id },
                   success: async data => {
                      if(data.Success == true){
                        toastr.success(this.mssg_delete_confirm_success.replace('"name"', `'${name}'`));
                        var parent = this.selectNode.parent;
                	      this.selectNode.remove();
                	      if(parent.id != 0){
                	        if(parent.children.length == 0){
                	          parent.delete = true;
                	        }
                	      }
                	      this.selectNode = {};
                      }else{
                        toastr.error(this.mssg_delete_confirm_fail);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      $('#modal').modal('hide');
                   }
                });
              }
            });
          }else{
            toastr.error(this.mssg_disabled_delete);
          }
        }else{
          toastr.error(this.mssg_noselect_row);
        }
      },

      addNode() {
        var code = [];
        for(var i =0; i < this.limit; i++){
          code.push('0');
        }
        if(Object.keys(this.data).length > 0){
          if (!this.data.children) this.data.children = [];
          if(this.data.children.length > 0){
            code = this.data.children[this.data.children.length - 1].code.split('.');
          }
        }
        if((code.length > 2) && (code.length <= this.limit)){
          if(this.name.trim() != ''){
            if(Object.keys(this.selectNode).length == 0){
              code[0] = (parseInt(code[0]) + 1).toString();
              $.ajaxSetup({
                headers: {
                	'X-CSRF-TOKEN': this.csrf
                }
              });
              $.ajax({
                 type:'POST',
                 url:'/cuenta',
                 data: { 'insert': true, 'name': this.name.trim(), 'code': code.join('.'), level: 1, 'accountType': 1, 'fatherID': null },
                 success: data => {
                    if(data.Success == true){
                      toastr.success(this.mssg_success_add);
                      var node = new TreeNode({ id: data.content, code: code.join('.'), name: this.name.trim(), isLeaf: false, addLeafNodeDisabled: true, addTreeNodeDisabled: true, editNodeDisabled: true, delNodeDisabled: true, dragDisabled: true, level: 1, delete: true });
                      $('#modal').modal('hide');
                      this.data.addChildren(node);
                    }else{
                      toastr.error(data.content);
                    }
                 },
                 error: function(data){
                    console.log(data);
                    $('#modal').modal('hide');
                 }
              }); 
            }else{
              var level = this.selectNode.level + 1;
              if((level - 1) < code.length){
                if (!this.selectNode.children) {
                  this.selectNode.delete = false;
                  $('#btn_delete').attr('disabled', true);
                  this.selectNode.children = [];
                }
                if(this.selectNode.children.length == 0){
                  code = this.selectNode.code.split('.');
                }else{
                  code = this.selectNode.children[this.selectNode.children.length - 1].code.split('.');
                }
                code[level - 1] = (parseInt(code[level - 1]) + 1).toString();
                $.ajaxSetup({
                  headers: {
                  	'X-CSRF-TOKEN': this.csrf
                  }
                });
                $.ajax({
                   type:'POST',
                   url:'/cuenta',
                   data: { 'insert': true, 'name': this.name.trim(), 'code': code.join('.'), level: level, 'accountType': (level < this.limit)? 1 : 2, 'fatherID': this.selectNode.id },
                   success: data => {
                      if(data.Success == true){
                        toastr.success(this.mssg_success_add);
                        var node = new TreeNode({ id: data.content, code: code.join('.'), name: this.name.trim(), isLeaf: false, addLeafNodeDisabled: true, addTreeNodeDisabled: true, editNodeDisabled: true, delNodeDisabled: true, dragDisabled: true, level: level, delete: true });
                        $('#modal').modal('hide');
                        this.name = '';
                        this.selectNode.addChildren(node);
                      }else{
                        toastr.error(data.content);
                      }
                   },
                   error: function(data){
                      console.log(data);
                      $('#modal').modal('hide');
                   }
                }); 
              }else{
                toastr.error(this.mssg_error_limit_exceeded);
              }
            }  
          }else{
            toastr.error(this.mssg_error_name_empty);
          }
        }else{
          toastr.error(this.mssg_error_limit_exceeded);
        }
      },
      actionReport(){
        this.url_report = document.querySelector('meta[name="url_report"]').getAttribute('content');
        window.open(this.url_report, '_blank')
      }

    },
    mounted() {
      $('#btn_modify').attr('disabled', true);
      $('#btn_delete').attr('disabled', true);
      $(document).ready(function(){
        //this.data = new Tree(this.material);
      });
      console.log('Component mounted.');
    }
  }
</script>

<style lang="less" rel="stylesheet/less">
  .vtl {
    .vtl-drag-disabled {
      background-color: #d0cfcf;
      &:hover {
        background-color: #d0cfcf;
      }
    }
    .vtl-disabled {
      background-color: #d0cfcf;
    }
    .vtl-node-main {
      background-color: transparent;
      &:hover {
        background-color: #324c81;
        cursor: pointer;
      }
    }
    .vtl-nodo-select{
      background-color: #324c81;
    }
  }
</style> 
 
<style lang="less" rel="stylesheet/less" scoped>
  .icon {
    &:hover {
      cursor: pointer;
    }
  }
 
  .muted {
    color: gray;
    font-size: 80%;
  }
</style> 